* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  background: white;
}
.sias-logo{
  width: 400px;
}
.colist{
  float: right;
  list-style: none;
  line-height: 30px;
}
.header h1 {
  font-size: 50px;
}
.professor{
  width: 100%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.haneesh{
  margin-left: -20px;
  margin-top: -20px;
  padding-left:  10px;
}
.samad
{
  margin-top: -20px; 
  padding-left:  20px;
}
.mansoor{
  margin-top: -20px;
  padding-left:  20px;
}
.alka{
  margin-top: -20px;
  padding-left:  20px;
}
.manju{
  margin-top: -20px;
  padding-left:  20px;
}
.divya{
  margin-top: -20px;
  padding-left:  20px;
}
.para-name
{
  margin-left: -100px;
  font-size: small;
}
.para-name2
{
  margin-left: 90px;
  margin-top: -42px;
}
.para-name3
{
  margin-left: 200px;
  margin-top: -85px;
}
.para-name4
{
  margin-left: 310px;
  margin-top: -83px;
}
.para-name5
{
  margin-left: 410px;
  margin-top: -83px;
}
.para-name6
{
  margin-left: 520px;
  margin-top: -83px;
}
.para-name7
{
  margin-left: 620px;
  margin-top: -83px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: coral;
  color:black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


/* Fake image */
.fakeimg {
  
  width: 100%;
  padding: 20px;
}
.gallary{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.esia
{
  margin-left: -20px;
  margin-top: -20px;
}
.play
{
display: block;
margin-left: auto;
margin-right: auto;
}

/* Add a card effect for articles */
.card {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card1{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card2{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: #012340;
  margin-top: 20px;
}
.column {
  float: left;
  width: 20%;
}
.column h4{
  text-transform: uppercase;
  font-weight: 100;
}
.column a{
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: lightyellow;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.image-icon-sias{
  height: 3rem;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .sias-logo{
    margin: -30px;
    width: 300px;
  }
}
